a2/saved_params_5000.npy
a2/saved_params_10000.npy
a2/saved_params_15000.npy
a2/saved_params_20000.npy
a2/saved_params_25000.npy
a2/saved_params_30000.npy
a2/saved_params_35000.npy
a2/saved_params_40000.npy
a2/saved_state_5000.pickle
a2/saved_state_10000.pickle
a2/saved_state_15000.pickle
a2/saved_state_20000.pickle
a2/saved_state_25000.pickle
a2/saved_state_30000.pickle
a2/saved_state_35000.pickle
a2/saved_state_40000.pickle
*.pyc
*.weights
.vscode/settings.json
*/collect_submission.sh
*/*/collect_submission.sh
*.conll
a3/student/data/en-cw.txt
a1/.nbgrader.log
a1/.DS_Store
a4.zip
a4/sanity_check_en_es_data/step_dec_state_0.pkl
a4/sanity_check_en_es_data/step_dec_state_1.pkl
a4/sanity_check_en_es_data/step_dec_state_2.pkl
a4/sanity_check_en_es_data/step_dec_state_3.pkl
a4/sanity_check_en_es_data/step_dec_state_4.pkl
a4/sanity_check_en_es_data/step_dec_state_5.pkl
a4/sanity_check_en_es_data/step_dec_state_6.pkl
a4/sanity_check_en_es_data/step_dec_state_7.pkl
a4/sanity_check_en_es_data/step_dec_state_8.pkl
a4/sanity_check_en_es_data/step_dec_state_9.pkl
a4/sanity_check_en_es_data/step_dec_state_10.pkl
a4/sanity_check_en_es_data/step_dec_state_11.pkl
a4/sanity_check_en_es_data/step_dec_state_12.pkl
a4/sanity_check_en_es_data/step_dec_state_13.pkl
a4/sanity_check_en_es_data/step_dec_state_14.pkl
a4/sanity_check_en_es_data/step_dec_state_15.pkl
a4/sanity_check_en_es_data/step_dec_state_16.pkl
a4/sanity_check_en_es_data/step_dec_state_17.pkl
a4/sanity_check_en_es_data/step_dec_state_18.pkl
a4/sanity_check_en_es_data/step_dec_state_19.pkl
a4/sanity_check_en_es_data/step_dec_state_20.pkl
a4/sanity_check_en_es_data/step_dec_state_21.pkl
a4/sanity_check_en_es_data/step_dec_state_22.pkl
a4/sanity_check_en_es_data/step_o_t_0.pkl
a4/sanity_check_en_es_data/step_o_t_1.pkl
a4/sanity_check_en_es_data/step_o_t_2.pkl
a4/sanity_check_en_es_data/step_o_t_3.pkl
a4/sanity_check_en_es_data/step_o_t_4.pkl
a4/sanity_check_en_es_data/step_o_t_5.pkl
a4/sanity_check_en_es_data/step_o_t_6.pkl
a4/sanity_check_en_es_data/step_o_t_7.pkl
a4/sanity_check_en_es_data/step_o_t_8.pkl
a4/sanity_check_en_es_data/step_o_t_9.pkl
a4/sanity_check_en_es_data/step_o_t_10.pkl
a4/sanity_check_en_es_data/step_o_t_11.pkl
a4/sanity_check_en_es_data/step_o_t_12.pkl
a4/sanity_check_en_es_data/step_o_t_13.pkl
a4/sanity_check_en_es_data/step_o_t_14.pkl
a4/sanity_check_en_es_data/step_o_t_15.pkl
a4/sanity_check_en_es_data/step_o_t_16.pkl
a4/sanity_check_en_es_data/step_o_t_17.pkl
a4/sanity_check_en_es_data/step_o_t_18.pkl
a4/sanity_check_en_es_data/step_o_t_19.pkl
a4/sanity_check_en_es_data/step_o_t_20.pkl
a4/sanity_check_en_es_data/step_o_t_21.pkl
a4/sanity_check_en_es_data/step_o_t_22.pkl
a4/model.bin
