a2/saved_params_5000.npy
a2/saved_params_10000.npy
a2/saved_params_15000.npy
a2/saved_params_20000.npy
a2/saved_params_25000.npy
a2/saved_params_30000.npy
a2/saved_params_35000.npy
a2/saved_params_40000.npy
a2/saved_state_5000.pickle
a2/saved_state_10000.pickle
a2/saved_state_15000.pickle
a2/saved_state_20000.pickle
a2/saved_state_25000.pickle
a2/saved_state_30000.pickle
a2/saved_state_35000.pickle
a2/saved_state_40000.pickle
*.pyc
*.weights
.vscode/settings.json
*/collect_submission.sh
*/*/collect_submission.sh
*.conll
a3/student/data/en-cw.txt
a1/.nbgrader.log
a1/.DS_Store
